<table id="bingo-board" style="height: 50%;">
  <% @board.beers.each_with_index do |beer, index| %>
    <% if (index + 1) % 5 == 1 %>
      <tr style="height: 182px; padding: none">
    <% end %>
    <td style="max-width: 20%; border-style: solid; background-color: black">
      <button id="<%= "#{@board.id}/#{index}" %>" class="bingo-button" style="text-align: center; width: 100%; height: 100%; background-color: <%= beer['drank'] ? 'lightgreen;' : 'white;' %>">
        <h1><%= beer['beer'] %></h1>
      </button>
    </td>
    <% if (index + 1) % 5 == 0 %>
      </tr>
    <% end %>
  <% end %>
</div>
